<?xml version="1.0"?>
<?define VERSION=!(bind.FileVersion.SharpTerminal.exe)?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SharpTerminal $(var.VERSION)" Language="1033" 
	         Version="$(var.VERSION)" UpgradeCode="E90ADEFA-169D-494F-B4C3-E6CD751A30AB" 
	         Manufacturer="Samuel Ventura">
		<Package Description="Serial and Socket Terminal" Comments="SharpTerminal is a registered trademark of Yeico" 
		         InstallerVersion="200" Compressed="yes" />
		<Icon Id="icon.ico" SourceFile="$(var.SharpTerminal.ProjectDir)\icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<!--
		   Source media for the installation.  
		    Specifies a single cab file to be embedded in the installer's .msi.  
		  -->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="Program Files">
				<Directory Id="INSTALLDIR" Name="SharpTerminal-$(var.VERSION)">
					<Component Id="SharpTerminalExe" Guid="901A6A4F-23A0-4CD0-9987-931BB0F9246C" DiskId="1">
						<File Id="SharpTerminal.exe" Name="SharpTerminal.exe" Source="$(var.SharpTerminal.TargetPath)" KeyPath="yes" />
						<Shortcut Advertise="yes" Id="SharpTerminalShortcut" Directory="DesktopFolder" Name="SharpTerminal $(var.VERSION)" WorkingDirectory="INSTALLDIR" Description="Serial and Socket Terminal" Icon="SharpTerminalIcon.exe">
							<Icon Id="SharpTerminalIcon.exe" SourceFile="$(var.SharpTerminal.TargetPath)" />
						</Shortcut>
						<Shortcut Advertise="yes" Id="SharpTerminalShortcut2" Directory="ProgramMenuFolder" Name="SharpTerminal $(var.VERSION)" WorkingDirectory="INSTALLDIR" Description="Serial and Socket Terminal" Icon="SharpTerminalIcon2.exe">
							<Icon Id="SharpTerminalIcon2.exe" SourceFile="$(var.SharpTerminal.TargetPath)" />
						</Shortcut>
					</Component>
					<Component Id="SharpTerminalexeConfig" Guid="A4B0ED49-37CA-4724-A657-1EA37C81A490" DiskId="1">
						<File Id="SharpTerminal.exe.config" Name="SharpTerminal.exe.config" Source="$(var.SharpTerminal.TargetDir)\SharpTerminal.exe.config" KeyPath="yes" />
					</Component>
					<Component Id="SharpToolsDll" Guid="366B3C5A-B4A0-4983-860D-68F534A52A1C" DiskId="1">
						<File Id="SharpTools.dll" Name="SharpTools.dll" Source="$(var.SharpTerminal.TargetDir)\SharpTools.dll" KeyPath="yes" />
					</Component>
					<Component Id="SharpToolsUIDll" Guid="F622A10D-C820-4084-A6F7-A0ABD5DF8623" DiskId="1">
						<File Id="SharpToolsUI.dll" Name="SharpToolsUI.dll" Source="$(var.SharpTerminal.TargetDir)\SharpToolsUI.dll" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" />
			<Directory Id="ProgramMenuFolder" />
		</Directory>
		<Feature Id="Cliente" Level="1">
			<ComponentRef Id="SharpTerminalExe" />
			<ComponentRef Id="SharpTerminalexeConfig" />
			<ComponentRef Id="SharpToolsDll" />
			<ComponentRef Id="SharpToolsUIDll" />
		</Feature>
	</Product>
</Wix>